

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% load static %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'ProyectoWebApp/css/home.css' %}">

</head>
<body>

    <main>
        <nav class="w-3/4 gap-1 m-auto flex justify-between h-2/6 bg-emerald-700 mb-5">
            <a class="{% if request.path == '/blog' %} font-bold {% endif %}" href="{% url 'blog' %}">Blog</a>
            <a class="{% if request.path == '/tienda' %} font-bold {% endif %}" href="{% url 'tienda' %}">Tienda</a>
            <a class="{% if request.path == '/servicios' %} font-bold {% endif %}" href="{% url 'servicios' %}">Servicios</a>
            <a class="{% if request.path == '/contacto' %} font-bold {% endif %}" href="{% url 'contacto' %}">Contactos</a>

        </nav>

        <!-- contenido cambiante -->

        {% block content %}

        {% endblock %}


    </main>

    <footer class="h-2/6 bg-emerald-700 text-center mt-5">
        <p>Todos los derechos reservados</p>
    </footer>
</body>
</html>